* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho */
.cabecalho {
    width: 900px;          /* mesma largura do conteúdo */
    margin: 0 auto;        /* centraliza */
    padding: 20px 0;
}

.cabecalho img {
    height: 60px;
}


/* Conteúdo principal */
.conteudo {
    width: 900px;
    margin: 0 auto;
}

h1 {
    background-color: #e6f2f7;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Linhas do formulário */
.linha {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Campos */
input {
    width: 500px;
    height: 30px;
    padding: 5px;
    border: 1px solid #999;
}

textarea {
    width: 500px;
    height: 300px;
    padding: 5px;
    border: 1px solid #999;
    resize: none;
}

/* Labels */
label {
    margin-left: 10px;
    cursor: pointer;
}

/* Botão */
button {
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
}