body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
}

h2 {
    border-bottom: 2px solid #3D3D3D;
    padding-bottom: 5px;
}

figure {
    text-align: center;          
    background-color: whitesmoke; 
    color: lightgrey            
}

figure.matriz {
    width: 550px;
    margin: 0 auto;
}

figure.familia {
    width: 275px;
    float: right;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}