body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 940px;
    margin: 0 auto;
}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #3D3D3D;
    padding-bottom: 5px;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding: 15px; 
    margin: 30px;   
}

figure figcaption {
    font-size: 14px;      
    color: #000;          
    font-weight: 400;     
    margin-top: 10px;     
    text-align: center;   
}

