body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
}

h2 {
    border-bottom: 2px solid #3D3D3D;
    padding-bottom: 5px;
}

figure {
    text-align: center;          
    background-color: whitesmoke; 
    color: lightgrey;            
}

