body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 10px;
    color: #3D3D3D;
    background-color: #E1EDF2;
    margin-top: 10px;
}

h2 {
    border-bottom: 2px solid #3D3D3D;
    padding-bottom: 5px;
}

figcaption {
    font-size: 15px;
    margin-top: 10px;
    text-align: center; 
}
figure {
    text-align: center;          
    background-color: whitesmoke; 
    padding: 15px;
    border: 4px solid;
    color: lightgrey;    
    margin: 30px auto;        
}

figure.matriz {
    width: 550px;
    margin: 0 auto;
}

figure.familia-tupfeln {
    width: 275px;
    float: right;
    margin: 15px;;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

.titulo-principal {
    padding: 10px;
    color: #3D3D3D;
    background-color: #E1EDF2;
    margin-top: 10px;
    border: none;
    font-size: 35px;
}